body {
    background: rgb(19, 56, 36);
    overflow: hidden;
    margin: 0;
    color: white;
    letter-spacing: 1px;
    font-family: monospace;
}

div#page-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#new-content {
    text-align: center;
    font-size: 4em;
}

div#new-content p {
    margin: 20px;
}

div#new-content div#counter {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 8px;
}

@media only screen and (max-width: 600px) {
    div#new-content {
        font-size: 2em;
    }
}